*.swp
venv/
*.pyc
.idea/
*.params
*-ubyte
*.mat
temp*
params/
data/
results/
*.bmp
*.png
*.jpg
*.log
*.zip
*.out
*.blg
*.bbl
*.out
*.gz
*.aux
*.pdf
*~
test*
*.md
paper/.*
*.dvi
*.fig
*.brf
pre_work/
results/
latexsource/
supplementary/
GALA/
dec/
SDCN/

